<html>

<head>
    <meta content="text/html" charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" th:href="@{main/css/index.css}">
    <link rel="stylesheet" th:href="@{main/styles/edit_pwd.css}">
    <link rel="stylesheet" th:href="@{main/css/personalcenter.css}">
    <link rel="stylesheet" th:href="@{webjars/sweetalert2/9.15.1/dist/sweetalert2.min.css}">
    <link rel="icon" th:href="@{main/image/logo.png}">
    <style>
        canvas {
        z-index: -1;
        position: absolute;
    }
    </style>
</head>

<body>
    <!-- 导航栏 -->
    <center>
        <div th:replace="main/header::header"></div>
    </center>
    <!--此处为页面主题内容-->
    <div id="index_main">
        <!--填充空间，不写入内容-->
        <div id="index_main_pad"></div>
        <!--个人空间侧导航栏  -->
        <div th:replace="main/sidebar::sidebar(select='3')"></div>
        <!--修改密码展示部分开始-->
        <div id="index_main_content">
            <div class="main_header">修改密码</div>
            <HR align=center width=430px color=#797979 SIZE=1>
            <div id="editpwd_content">
                <form action="##" id="changeForm" onsubmit="return false;">
                    <table>
                        <tbody>
                            <tr>
                                <td class="tr-label">旧密码：</td>
                                <td class="tr-input">
                                    <input name="old_pwd" id="old_pwd" placeholder="请输入6-20位密码" type="password">
                                </td>
                            </tr>
                            <tr>
                                <td class="tr-label">新密码：</td>
                                <td class="tr-input">
                                    <input name="new_pwd" id="new_pwd" placeholder="请输入6-20位密码" type="password">
                                </td>
                            </tr>
                            <tr>
                                <td class="tr-label">确认新密码：</td>
                                <td class="tr-input">
                                    <input name="new_pwd_again" id="new_pwd_again" placeholder="请输入6-20位密码" type="password">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button id="editpwd_btn" type="submit" onclick="changePwd()">确认修改</button>
                </form>
            </div>
        </div>
    </div>
    <!-- 底栏 -->
    <center>
        <div th:replace="main/footer::footer"></div>
    </center>
</body>
<script th:src="@{webjars/jquery/3.5.1/jquery.js}"></script>
<script th:src="@{main/js/Particleground.js}"></script>
<script th:src="@{main/js/index.js}"></script>
<script th:src="@{main/js/validation.js}"></script>
<script th:src="@{/webjars/sweetalert2/9.15.1/dist/sweetalert2.all.min.js}"></script>
<script th:src="@{/webjars/sweetalert2/9.15.1/dist/sweetalert2.min.js}"></script>
<script>
$(document).ready(function() {
    //粒子背景特效
    $('body').particleground({
        dotColor: 'white',
        lineColor: 'white'
    });
});
</script>
<script>
window.onload = function() {
    index_navigation();

    window.onresize = function() {
        index_navigation();
    }
    window.onscroll = function() {
        change_index_navigation();
    }
}
</script>
<script type="text/javascript">
function changePwd() {
    var oldPwd = $("#old_pwd").val();
    var newPwd = $("#new_pwd").val();
    var newPwdAgain = $("#new_pwd_again").val();
    if (!validPassword(oldPwd) || !validPassword(newPwd) || !validPassword(newPwdAgain)) {
        Swal.fire({
            text: '请输入正确的密码格式(6-20位字符和数字组合)',
            icon: 'error',
            confirmButtonText: '确定',
        });
        return false;
    }
    if (newPwd != newPwdAgain) {
        Swal.fire({
            text: '两次输入的密码不一致',
            icon: 'error',
            confirmButtonText: '确定',
        });
        return false;
    }
    //验证
    var params = $("#changeForm").serialize();
    var url = '/changePwd'
    $.ajax({
        type: 'post',
        url: url,
        data: params,
        success: function(result) {
            if (result.resultCode == 200) {
                window.location.href = '/editPwdSuccess';
            } else {
                Swal.fire({
                    text: result.message,
                    icon: 'error',
                    confirmButtonText: '确定',
                });
            };
        },
        error: function() {
            Swal.fire({
                text: '操作失败',
                icon: 'error',
                confirmButtonText: '确定',
            });
        }
    });
}
</script>

</html>