<!DOCTYPE html>
<html>
<div th:fragment="footer" id="index_footer">
    <div class="index_footer-3-1"></div>
    <div class="index_footer-1">
        <p>
            <b>联系我们</b>
            <a href="">意见箱</a>
            <a href="">关于我们</a>
        </p>
    </div>
    <div class="index_footer-3-2"></div>
    <div class="index_footer-1">
        <p>
            <b>友情链接</b>
            <a href="http://www.pku.edu.cn/" target="_blank">北京大学</a>
            <a href="http://www.im.pku.edu.cn/" target="_blank">北京大学信息管理系</a>
        </p>
    </div>
    <p class="index_footer-2">© Copyright Research Bubbling®</p>
</div>
</html>