<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>
<aside th:fragment="sidebar" class="lt_aside_nav content mCustomScrollbar">
	<h2>超级管理员：董七</h2>
	<ul>
		<li>
			<dl>
				<dt>日常管理维护</dt>
				<dd>
					<a href="">审核帖子</a>
				</dd>
				<dd>
					<a href="">意见收集反馈</a>
				</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt>账号管理</dt>
				<dd>
					<a href="">添加新账号</a>
				</dd>
				<dd>
					<a href="">修改密码</a>
				</dd>
				<dd>
					<a href="">管理员信息管理</a>
				</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt>内容管理</dt>
				<dd>
					<a href="">查看详情</a>
				</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt>特殊功能</dt>
				<dd>
					<a href="">泛用邮件发送</a>
				</dd>
				<dd>
					<a href="">教师注册信息分发</a>
				</dd>
			</dl>
		</li>

		<li>
			<p class="btm_infor">© ResearchBubbling</p>
		</li>
	</ul>
</aside>