<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuterwrite.rbspring.dao.CollectMapper">
  <resultMap id="BaseResultMap" type="com.cuterwrite.rbspring.entity.Collect">
    <id column="collect_id" jdbcType="INTEGER" property="collectId" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="post_id" jdbcType="INTEGER" property="postId" />
  </resultMap>
  <sql id="Base_Column_List">
    collect_id, user_account, post_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from collect
    where collect_id = #{collectId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from collect
    where collect_id = #{collectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cuterwrite.rbspring.entity.Collect">
    insert into collect (collect_id, user_account, post_id
      )
    values (#{collectId,jdbcType=INTEGER}, #{userAccount,jdbcType=VARCHAR}, #{postId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cuterwrite.rbspring.entity.Collect">
    insert into collect
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="collectId != null">
        collect_id,
      </if>
      <if test="userAccount != null">
        user_account,
      </if>
      <if test="postId != null">
        post_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="collectId != null">
        #{collectId,jdbcType=INTEGER},
      </if>
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cuterwrite.rbspring.entity.Collect">
    update collect
    <set>
      <if test="userAccount != null">
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="postId != null">
        post_id = #{postId,jdbcType=INTEGER},
      </if>
    </set>
    where collect_id = #{collectId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cuterwrite.rbspring.entity.Collect">
    update collect
    set user_account = #{userAccount,jdbcType=VARCHAR},
      post_id = #{postId,jdbcType=INTEGER}
    where collect_id = #{collectId,jdbcType=INTEGER}
  </update>
</mapper>