<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuterwrite.rbspring.dao.SubperiodMapper">
  <resultMap id="BaseResultMap" type="com.cuterwrite.rbspring.entity.Subperiod">
    <id column="subp_id" jdbcType="INTEGER" property="subpId" />
    <result column="subt_id" jdbcType="INTEGER" property="subtId" />
    <result column="subp_name" jdbcType="VARCHAR" property="subpName" />
    <result column="subp_date" jdbcType="DATE" property="subpDate" />
  </resultMap>
  <sql id="Base_Column_List">
    subp_id, subt_id, subp_name, subp_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from subperiod
    where subp_id = #{subpId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from subperiod
    where subp_id = #{subpId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cuterwrite.rbspring.entity.Subperiod">
    insert into subperiod (subp_id, subt_id, subp_name, 
      subp_date)
    values (#{subpId,jdbcType=INTEGER}, #{subtId,jdbcType=INTEGER}, #{subpName,jdbcType=VARCHAR}, 
      #{subpDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.cuterwrite.rbspring.entity.Subperiod">
    insert into subperiod
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subpId != null">
        subp_id,
      </if>
      <if test="subtId != null">
        subt_id,
      </if>
      <if test="subpName != null">
        subp_name,
      </if>
      <if test="subpDate != null">
        subp_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subpId != null">
        #{subpId,jdbcType=INTEGER},
      </if>
      <if test="subtId != null">
        #{subtId,jdbcType=INTEGER},
      </if>
      <if test="subpName != null">
        #{subpName,jdbcType=VARCHAR},
      </if>
      <if test="subpDate != null">
        #{subpDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cuterwrite.rbspring.entity.Subperiod">
    update subperiod
    <set>
      <if test="subtId != null">
        subt_id = #{subtId,jdbcType=INTEGER},
      </if>
      <if test="subpName != null">
        subp_name = #{subpName,jdbcType=VARCHAR},
      </if>
      <if test="subpDate != null">
        subp_date = #{subpDate,jdbcType=DATE},
      </if>
    </set>
    where subp_id = #{subpId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cuterwrite.rbspring.entity.Subperiod">
    update subperiod
    set subt_id = #{subtId,jdbcType=INTEGER},
      subp_name = #{subpName,jdbcType=VARCHAR},
      subp_date = #{subpDate,jdbcType=DATE}
    where subp_id = #{subpId,jdbcType=INTEGER}
  </update>
</mapper>