<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuterwrite.rbspring.dao.SubtypeMapper">
  <resultMap id="BaseResultMap" type="com.cuterwrite.rbspring.entity.Subtype">
    <id column="subt_id" jdbcType="INTEGER" property="subtId" />
    <result column="conf_id" jdbcType="INTEGER" property="confId" />
    <result column="subt_name" jdbcType="VARCHAR" property="subtName" />
    <result column="subt_submission_guide" jdbcType="VARCHAR" property="subtSubmissionGuide" />
    <result column="subt_time_zone" jdbcType="VARCHAR" property="subtTimeZone" />
  </resultMap>
  <sql id="Base_Column_List">
    subt_id, conf_id, subt_name, subt_submission_guide, subt_time_zone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from subtype
    where subt_id = #{subtId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from subtype
    where subt_id = #{subtId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cuterwrite.rbspring.entity.Subtype">
    insert into subtype (subt_id, conf_id, subt_name, 
      subt_submission_guide, subt_time_zone)
    values (#{subtId,jdbcType=INTEGER}, #{confId,jdbcType=INTEGER}, #{subtName,jdbcType=VARCHAR}, 
      #{subtSubmissionGuide,jdbcType=VARCHAR}, #{subtTimeZone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cuterwrite.rbspring.entity.Subtype">
    insert into subtype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subtId != null">
        subt_id,
      </if>
      <if test="confId != null">
        conf_id,
      </if>
      <if test="subtName != null">
        subt_name,
      </if>
      <if test="subtSubmissionGuide != null">
        subt_submission_guide,
      </if>
      <if test="subtTimeZone != null">
        subt_time_zone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subtId != null">
        #{subtId,jdbcType=INTEGER},
      </if>
      <if test="confId != null">
        #{confId,jdbcType=INTEGER},
      </if>
      <if test="subtName != null">
        #{subtName,jdbcType=VARCHAR},
      </if>
      <if test="subtSubmissionGuide != null">
        #{subtSubmissionGuide,jdbcType=VARCHAR},
      </if>
      <if test="subtTimeZone != null">
        #{subtTimeZone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cuterwrite.rbspring.entity.Subtype">
    update subtype
    <set>
      <if test="confId != null">
        conf_id = #{confId,jdbcType=INTEGER},
      </if>
      <if test="subtName != null">
        subt_name = #{subtName,jdbcType=VARCHAR},
      </if>
      <if test="subtSubmissionGuide != null">
        subt_submission_guide = #{subtSubmissionGuide,jdbcType=VARCHAR},
      </if>
      <if test="subtTimeZone != null">
        subt_time_zone = #{subtTimeZone,jdbcType=VARCHAR},
      </if>
    </set>
    where subt_id = #{subtId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cuterwrite.rbspring.entity.Subtype">
    update subtype
    set conf_id = #{confId,jdbcType=INTEGER},
      subt_name = #{subtName,jdbcType=VARCHAR},
      subt_submission_guide = #{subtSubmissionGuide,jdbcType=VARCHAR},
      subt_time_zone = #{subtTimeZone,jdbcType=VARCHAR}
    where subt_id = #{subtId,jdbcType=INTEGER}
  </update>
</mapper>