<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuterwrite.rbspring.dao.TeApplyMapper">
  <resultMap id="BaseResultMap" type="com.cuterwrite.rbspring.entity.TeApply">
    <id column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <id column="apply_id" jdbcType="INTEGER" property="applyId" />
    <result column="teap_date" jdbcType="TIMESTAMP" property="teapDate" />
    <result column="teap_condition" jdbcType="BIT" property="teapCondition" />
    <result column="stu_id" jdbcType="VARCHAR" property="stuId" />
    <result column="stu_name" jdbcType="VARCHAR" property="stuName" />
  </resultMap>
  <sql id="Base_Column_List">
    user_account, apply_id, teap_date, teap_condition, stu_id, stu_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.cuterwrite.rbspring.entity.TeApplyKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from te_apply
    where user_account = #{userAccount,jdbcType=VARCHAR}
      and apply_id = #{applyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.cuterwrite.rbspring.entity.TeApplyKey">
    delete from te_apply
    where user_account = #{userAccount,jdbcType=VARCHAR}
      and apply_id = #{applyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cuterwrite.rbspring.entity.TeApply">
    insert into te_apply (user_account, apply_id, teap_date, 
      teap_condition, stu_id, stu_name
      )
    values (#{userAccount,jdbcType=VARCHAR}, #{applyId,jdbcType=INTEGER}, #{teapDate,jdbcType=TIMESTAMP}, 
      #{teapCondition,jdbcType=BIT}, #{stuId,jdbcType=VARCHAR}, #{stuName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cuterwrite.rbspring.entity.TeApply">
    insert into te_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userAccount != null">
        user_account,
      </if>
      <if test="applyId != null">
        apply_id,
      </if>
      <if test="teapDate != null">
        teap_date,
      </if>
      <if test="teapCondition != null">
        teap_condition,
      </if>
      <if test="stuId != null">
        stu_id,
      </if>
      <if test="stuName != null">
        stu_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null">
        #{applyId,jdbcType=INTEGER},
      </if>
      <if test="teapDate != null">
        #{teapDate,jdbcType=TIMESTAMP},
      </if>
      <if test="teapCondition != null">
        #{teapCondition,jdbcType=BIT},
      </if>
      <if test="stuId != null">
        #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="stuName != null">
        #{stuName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cuterwrite.rbspring.entity.TeApply">
    update te_apply
    <set>
      <if test="teapDate != null">
        teap_date = #{teapDate,jdbcType=TIMESTAMP},
      </if>
      <if test="teapCondition != null">
        teap_condition = #{teapCondition,jdbcType=BIT},
      </if>
      <if test="stuId != null">
        stu_id = #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="stuName != null">
        stu_name = #{stuName,jdbcType=VARCHAR},
      </if>
    </set>
    where user_account = #{userAccount,jdbcType=VARCHAR}
      and apply_id = #{applyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cuterwrite.rbspring.entity.TeApply">
    update te_apply
    set teap_date = #{teapDate,jdbcType=TIMESTAMP},
      teap_condition = #{teapCondition,jdbcType=BIT},
      stu_id = #{stuId,jdbcType=VARCHAR},
      stu_name = #{stuName,jdbcType=VARCHAR}
    where user_account = #{userAccount,jdbcType=VARCHAR}
      and apply_id = #{applyId,jdbcType=INTEGER}
  </update>
</mapper>